
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;color: #0b7a50;
  padding: 2;
  margin: 2;
  box-sizing: border-box; color-scheme: rgb(45, 2, 8);
}

img{
  width: 33%;
  height: 33%;
}
img{
  width: 33%;
  height: 33%;
}
